@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Current count: @currentCountAgain</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCountAgain">Click me</button>

@code {
    private int currentCount = 0;
    private int currentCountAgain = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void IncrementCountAgain()
    {
        currentCountAgain = currentCount + 2;
    }
}
