@page "/"

<h1>Hue Controller</h1>

This application allows you to control Hue lights in homes. It must be paired up with the code here: https://github.com/olaafrossi/HueControlExample

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
